.details {
  padding: 40px 300px;
}

.title {
  display: flex;
  width: 780px;
  font-size: 36px;
  font-weight: 700;
  padding: 20px 0;
  width: 780px;
}

.info {
  display: flex;
  width: 100%;
  height: 465px;
  flex-direction: row;
  gap: 90px;

  .pic {
    display: flex;
    width: 780px;
    height: 465px;

    .pic1 {
      width: 580px;
      height: 465px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-right: 10px;
      }
    }

    .pic23 {
      width: 200px;
      height: 460px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;

      img {
        width: 100%;
        height: 50%;
        object-fit: cover;
      }
    }
  }

  .booking {
    width: 370px;
    height: 465px;
    border: 1px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;

    .up {
      height: 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);

      div {
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
      }
    }

    .form {
      padding-top: 20px;
      font-size: 15px;
      font-weight: 700;

      input,
      form {
        width: 330px;
        height: 44px;
        background: rgb(240, 240, 243);
        margin: 10px 0px 25px;
        font-size: 14px;
        font-weight: 600;

        select {
          height: 44px;
          width: 150px;
          background: rgb(240, 240, 243);
        }
      }
    }

    .total {
      color: rgba(119, 128, 136, 1);
      text-align: center;
      font-size: 14px;
      font-weight: 600;

      .amount {
        font-size: 36px;
        font-weight: 900;
        color: rgba(123, 188, 176, 1);
      }
    }
  }
}

.point {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-top: 50px;
  width: 780px;
  height: auto;
  padding: 40px;
  background-color: #f8fafc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  .per {
    width: 290px;
    display: flex;

    .perleft {
      padding-top: 4px;
      font-size: 16px;
      color: rgba(123, 188, 176, 1);
    }

    .perright {
      padding-left: 10px;

      .rup {
        font-size: 15px;
        font-weight: 700;
        color: rgba(28, 43, 56, 1);
        margin-bottom: 10px;
      }

      .rdown {
        font-size: 14px;
        font-weight: 400;
        color: rgba(73, 85, 96, 1);
      }
    }
  }
}

.description {
  width: 780px;
  border-bottom: 1px solid rgba(206, 218, 223, 1);

  .dtitle {
    margin: 50px 0px 30px;
    font-size: 22px;
    font-weight: 700;
  }

  .dcontent {
    font-size: 15px;
    font-weight: 400;
    color: rgba(73, 85, 96, 1);
    line-height: 30px;
    padding-bottom: 30px;
  }
}

.include {
  width: 780px;
  border-bottom: 1px solid rgba(206, 218, 223, 1);
  margin-top: 30px;

  .ititle {
    font-size: 22px;
    font-weight: 700;
    color: rgba(28, 43, 56, 1);
    margin-bottom: 20px;
  }

  .icontent {
    display: flex;
    gap: 80px;

    .iname {
      margin-bottom: 30px;

      div:nth-child(1) {
        font-size: 15px;
        font-weight: 700;
        color: rgba(28, 43, 56, 1);
        margin-bottom: 8px;
      }

      div:nth-child(2) {
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        color: rgba(73, 85, 96, 1);
      }
    }
  }
}

@media (max-width: 1500px) {
  .details {
    padding: 40px 100px;
  }

  .info {
    gap: 50px;
    justify-content: center;
    .pic {
      width: 580px;

      .pic1 {
        width: 380px;
      }
    }
  }

  .point {
    width: 580px;
  }
}
@media (max-width: 1000px) {
  .details {
    padding: 40px 50px;
  }

  .info {
    gap: 20px;
    justify-content: center;
    .pic {
      width: 380px;

      .pic1 {
        width: 280px;
      }
    }
  }

  .point {
    width: 580px;
  }
}
@media (max-width: 900px) {
  .details {
    padding: 40px 50px;
  }

  .title {
    width: 380px;
    font-size: 26px;
  }

  .info {
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 500px;
    .pic {
      width: 380px;

      .pic1 {
        width: 280px;
      }
    }
  }
  .wrapper {
    display: flex;
    justify-content: center;
    .point {
      width: 380px;
    }
  }
  .description {
    width: 380px;
  }
  .include {
    width: 380px;

    .icontent {
      display: flex;
      gap: 60px;

      .iname {
        div:nth-child(2) {
          font-size: 12px;
        }
      }
    }
  }
  .tour-container {
    width: 380px;
  }
}
