.up_page {
  height: 360px;
  background-color: #13253f;
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
}

.up_list {
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.up1 {
  display: flex;
}

.up2 {
  display: flex;
}


.up_list>ul>li:nth-child(1) {
  color: rgb(255, 255, 255, 0.8);
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.up_list>ul li {
  color: rgb(255, 255, 255, 0.6);
  font-size: 15px;
  line-height: 30px;
}

.payment {
  color: rgb(255, 255, 255, 0.8);
  font-size: 15px;
  font-weight: 700;
  line-height: 18.83px;
  margin-bottom: 26px;
}

.paymentImg {
  width: 218px;
  height: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 26px;
}

.paymentImg img {
  width: 19%;
}

.paymentImg :nth-child(-n+5) {
  margin-bottom: 5px;
}

.company {
  color: rgb(255, 255, 255, 0.8);
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 16px;
}


.up3_text {
  color: rgb(255, 255, 255, 0.6);
  font-size: 15px;
}


.down_page {
  background-color: rgb(15, 30, 50);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30rem;
}

.down_left {
  display: flex;
  color: rgb(255, 255, 255, 0.6);
  line-height: 18.83px;
  font-size: 15px;
}

.down_right {
  margin-left: -70px;
  display: flex;
}

.down_right>a {
  width: 40px;
  height: 40px;
  margin: 10px;
}