.hotel {
  background-color: white;
  height: 100px;
  display: flex;
  padding: 0 300px;
  align-items: center;

  .wrapper {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background: white;
    align-items: center;
    span {
      font-weight: 500;
      font-size: 30px;
    }

    .sort {
      display: flex;
      align-items: center;

      p {
        font-weight: 500;
        font-size: 20px;
      }

      .sortDropdown {
        height: 44px;
        width: 310px;
        margin-left: 20px;
        background-color: #ece6e6;
        border-radius: 10px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.itemList {
  overflow: hidden;
  background-color: #f9fafd;
  display: flex;
  flex-direction: column;
  padding: 0 300px;
  padding-top: 60px;
  padding-bottom: 5px;

  gap: 50px;
  .list {
    border-radius: 20px;
    display: flex;
    height: 230px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    .container {
      display: flex;
      align-items: center;
      img {
        width: 190px;
        height: 190px;
        border-radius: 4px;
        margin-left: 40px;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      margin-right: 50px;
      margin-left: 50px;
      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 800px;
        .title {
          font-weight: 600;
          font-size: 23px;
        }
        .money {
          margin-right: -150px;
          display: flex;
          gap: 10px;
          align-items: center;

          div {
            color: #7bbcb0;
            font-size: 20px;
            font-weight: 500;
          }
        }
      }

      .bottom {
        display: flex;
        gap: 50px;
        width: 970px;
        justify-content: space-between;
        .parent {
          display: flex;
          gap: 30px;
          .first {
            gap: 5px;
            display: flex;
            align-items: center;
          }
        }
        button {
          width: 200px;
          height: 50px;

          background-color: #ffda32;
          border-radius: 40px;
          border: none;
          transition: box-shadow 0.3s ease;
          font-weight: 600;

          &:hover {
            box-shadow: 0 0 15px 5px rgba(255, 218, 50, 0.6);
          }
        }
      }
    }
  }
}
.parent {
  overflow: hidden;
  background-color: #f9fafd;

  .load {
    width: 870px;

    border: 1px solid #7bbcb0;
    margin: 50px auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    .final {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 20px;
      display: flex;
      color: #7bbcb0;
      cursor: pointer;
    }
  }
}
