.container {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 400px;
  background-color: white;
  padding: 15px;
  border: 1px solid #e7e6eb;
  border-radius: 20px;
  gap: 10px;
  img {
    width: 350px;
    height: 220px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  .wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .title {
      font-size: 20px;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .editDelete {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #858585;
      gap: 0;
      font-size: 16px;
    }
    .iconContainer {
      display: flex;  
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
    .location {
      display: flex;
      align-items: center;
      color: #858585;
      gap: 0 5px;
      font-size: 16px;
      .icon1 {
        color: #7bbcb0;
        font-size: 20px;
      }
    }
    .price {
      display: flex;
      align-items: center;
      color: #858585;
      font-size: 18px;
      .detail {
        color: #7bbcb0;
        font-size: 22px;
        font-weight: 400;
      }
    }
    .bottom {
      display: flex;
      align-items: center;
      gap: 20px;
      color: #858585;
      justify-content: space-around;
      .left {
        display: flex;
        align-items: center;
        gap: 5px;
        .icon2 {
          color: #7bbcb0;
          font-size: 20px;
        }
      }
      .right {
        display: flex;
        align-items: center;
        gap: 5px;
        .icon3 {
          color: #7bbcb0;
          font-size: 18px;
        }
      }
    }
  }
}
