.box {
  display: flex;
  align-items: center;
  padding: 0 300px;
  gap: 150px;
  justify-content: center;
  margin-top: 30px;
}
@media (max-width: 1800px) {
  .box {
    gap: 100px;
  }
}
@media (max-width: 1500px) {
  .box {
    gap: 50px;
  }
}

@media (max-width: 1200px) {
  .box {
    gap: 30px;
  }
}
@media (max-width: 992px) {
  .box {
    padding: 50px 50px;
    margin-left: 10px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}
