.box {
  display: flex;
  align-items: center;
  padding: 0 300px;
  gap: 80px;
}
@media (max-width: 1800px) {
  .box {
    padding-left: 200px;
  }
}
@media (max-width: 1500px) {
  .box {
    gap: 80px;
    margin-left: -30px;
  }
}

@media (max-width: 1200px) {
  .box {
    gap: 30px;
    margin-left: -110px;
  }
}
@media (max-width: 992px) {
  .box {
    padding: 50px 50px;
    margin-left: 10px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}
